body {
    background-color: rgb(232, 248, 245); 
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}  

h1 {text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.marcofoto {border-color: teal;
                border-width: 5px;
                border-style: solid;
}

h2 {
    background-color: rgb(14, 102, 85);
    color: ivory;
    padding: 08px;
    text-transform: uppercase;
    letter-spacing: 00.1em;
    text-align: center;
}

h2:first-letter {
    font-size: 150%;
}

h2+p {
    background-color: rgb(23, 165, 137 );
    color: ivory;}

p {
    background-color: rgb(206, 228, 224);
    line-height: 1.4em;
}

p.normal {
    background-color: rgb(232, 248, 245); 
    text-indent: 20px;
}

p.normal:first-letter {
font-size: 200%;
}

div {
    width: 300px;
    background-color: transparent;
    padding: 19px;
    margin: 25px;
    border: 12px solid rgb(75, 121, 75);
}

p.recuadro {
    letter-spacing: 00.1em ;
    text-align: center;
}

a:link {
    color: deeppink;
    text-decoration: none;}
a:visited {
        color: black;}
a:hover {
        color: deeppink;
        text-decoration: underline;}
a:active {
        color: darkcyan;
    }
div.lista {
    width: 250px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border: 02px solid rgb(106, 116, 106);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
div.derecha {
    float:right;
}
div.centro {
    margin: 10px auto 10px auto;
}
div.wakame {
    float: left;
}
