body {
    background-color: rgb(232, 248, 245); 
    font-family: 'Montserrat', sans-serif;
    padding: 20px;}  

.marcofoto {border-color: teal;
                border-width: 5px;
                border-style: solid;
}

h2 {
    background-color: rgb(14, 102, 85);
    color: ivory;
    padding: 08px;
}
h2+p {
    background-color: rgb(23, 165, 137 );
    color: ivory;}
p {
    background-color: rgb(206, 228, 224);
}
p.normal {
    background-color: rgb(232, 248, 245); 
}
div {
    width: 300px;
    background-color: transparent;
    padding: 19px;
    margin: 25px;
    border: 12px solid green;
}
.billones {
    color: tomato;
}
